body {
  background-color: #fdf8ee;
}
.headerfixed {
  transition: all 0.5s ease-in-out !important;
}
.headerfixed.fixed {
  transition: top 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* Ensure it appears above other content */
  background-color: #fff;
  padding-left: 64px;
  padding-right: 64px;
}
.headerfixed.fixed ul li a {
  color: #050748 !important;
  font-weight: 600;
}

.full-screen-img {
  width: 100%;
  object-fit: cover;
}
.totalRudraksha {
  font-size: 14px;
}
.imgoverflow {
  overflow: hidden;
}
.imgoverflow:hover .imgZoom img {
  transform: scale(1.08) !important;
  transition: 0.3s !important;
}
.addCart-btn {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  background: #edaa38;
  border: 1px solid #edaa38;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 50px;
}
.spacebetween {
  display: flex;
  justify-content: space-between;
}
.addCart-btn:hover {
  background-color: red;
  transition: 0.3s all ease-in-out;
}
.footer-heading {
  color: #ff0000cf;
  font-size: 30px;
  font-weight: 400;
  font-family: math;
  padding-top: 80px;
}
.imp-links {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: math;
}
.imp-links:hover {
  color: #ffffff7d;
  transition: 0.2s all ease-in-out;
}
.ul2 {
  display: flex;
  justify-content: space-around;
}
.btn-delivery {
  color: #fff;
  text-align: center;
  border: 2px solid #5d3939;
  padding: 10px 0px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  font-family: math;
  letter-spacing: 1px;
  background: #5d3939;
}
.text-space {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.btn-freeservices {
  margin-top: 15px;
  background: #5d3939;
  color: #fff;
  padding: 10px 35px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #5d3939;
}
.btn-freeservices:hover {
  background: #ffc367;
  color: #000;
  transition: 0.2s all ease-in-out;
  border: 2px solid #ffc367;
}
.icon2 {
  font-size: 30px;
  padding-right: 20px;
}
.icons1 {
  padding-right: 30px;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
}
.heartIcon {
  font-size: 25px;
  color: #000;
  margin-right: 15px;
  margin-left: 10px;
}
.addcart {
  font-size: 23px;
  color: #000;
}
.cartCounter {
  padding: 5px;
  bottom: 12px;
  border-radius: 50%;
  position: absolute;
  font-size: 12px;
  color: #d22d2d;
  left: 15px;
  background: #fff;
}
.clicked {
  border: 2px solid;
}
.crossbtn1 {
  position: absolute;
  right: 31px;
  font-size: 29px;
  top: 0px;
  color: red;
}
.positionrelative1 {
  position: fixed;
  width: 100%;
}
.absolutestyle {
  position: absolute;
  top: 271px;
  width: 370px;
  border-radius: 15px;
  padding: 10px;
  background: #333;
  color: #fff;
  height: 85px;
  right: -380px;
  transition: 1s;
}
.discrpition {
  width: 70%;
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
}
.displayflex{
  display: flex;
  padding-top: 21px;
}
.custom-logo {
  max-height: 50px; /* Adjust the max-height to fit your design */
  width: auto;
}
.navbar {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.title{
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}
.styleinp {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: -webkit-focus-ring-color auto 0px;
}
@media (max-width:600px ){
  .carousel-indicators{
    display: none !important;
  }
}
@media (max-width: 992px) {
  .items {
    text-align: center !important;
  }
}
